.desktop {
  position: absolute;
  padding: 8px;
  height: calc(100vh - 32px);
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.icon {
  width: 100px;
  cursor: pointer;
  margin: 8px 0;
  padding: 5px;
  border: 1px solid transparent;

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon img {
  width: 54px;
  display: block;
  margin: 0 auto;
}

.icon .icon-name {
  font-family: calibri, monospace;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.recycle-bin {
  position: absolute;
  right: 8px;
  bottom: 16px;
}
